
<div style="height: 80vh;">
  <mat-toolbar class="color">
    <mat-toolbar-row>
      <a type="button" routerLink="/home"><img class="logo" src="/assets/img/gecco.png" alt="logo"></a>

      <div fxShow="true" fxHide.lt-md>

        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a class="btnDefault" type="button" routerLink="/sign-up">LOREM IPSUM</a>
        <a class="btnDefault" type="button" routerLink="/sign-up">DASHBOARD</a>
        <a class="btnDefault" type="button" routerLink="/faq">HOW TO ?</a>

      </div>
      <span class="menu-spacer"></span>
      <div class="container" fxShow="true" fxHide.lt-md>
        <a mat-button class="siCSS" type="button" *ngIf="!Authenticated()" routerLink="/login">Sign in</a>
        <a mat-button class="caCSS" type="button" *ngIf="!Authenticated()" routerLink="/register">Create Account</a>
        <a mat-button class="caCSS" type="button" *ngIf="Authenticated()" (click) = "logout()" routerLink="/home">Logout</a>
      </div>
      <button mat-icon-button (click)="sidenav.toggle()" style="text-align: right;" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav position="end">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a mat-list-item type="button" routerLink="/sign-up">LOREM IPSUM</a>
        <a mat-list-item type="button" routerLink="/sign-up">DASHBOARD</a>
        <a mat-list-item type="button" routerLink="/faq">HOW TO ?</a>
        <a mat-list-item type="button" *ngIf="!Authenticated()" routerLink="/login">Sign in</a>
        <a mat-list-item type="button" *ngIf="!Authenticated()" routerLink="/register">Create Account</a>
        <a mat-list-item type="button" *ngIf="Authenticated()" routerLink="/register">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- <div class="form-group">
      <label for="file">Choose File</label><br>
      <input type="file" id="file">
    </div> -->

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>