.mat-form-field
{
  width: 100%;
}
.cardC{

  max-width: 45%;
  min-width: 325px;
  height: auto;
  margin: auto;
  margin-top: 80px;
}

.charts{
  padding: 12%;
}

.siCSS {
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  background-color: black;
}

.file-input {
  display: none;
}

.logintext
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo{
  height: auto;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}