<!--
<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
-->

<mat-card *ngIf="isAuth" class="cardC">
    <div class="chart-wrapper charts">

        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <button mat-raised-button class="siCSS" (click)="getData()">getData</button>
    <br>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <br>
    <p>Upload files:</p>
    <br>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept=".csv" required/>
    <br>
    {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>

</mat-card>

<mat-card *ngIf="!isAuth" class="cardC">
    <p class="logintext">You are not logged in. Please make sure to login in order to upload files</p>
    <img class="logo" src="/assets/img/wienerlinien.png" alt="logo">
</mat-card>

<br>