.mat-form-field
{
  width: 100%;
}
.cardC{

  max-width: 45%;
  min-width: 325px;
  height: auto;
  margin: auto;
  margin-top: 80px;
}

.file-input {
  display: none;
}

.logintext
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo{
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}