.container
{
    margin: 7%;

}
mat-form-field
{
    width: 100%;
}

mat-spinner
{
    margin: auto;
}

h1 
{
    text-align: center;
    color: #00802b;
    font-family: Arial, Helvetica, sans-serif;
}

.siCSS
{

      border: 2px solid transparent;
      border-radius: 30px;
      color: white;
      background-color: #00802b;
    
   
}