<div class="container">

  <h1>Sign in to Smart Maintenance</h1>

  <mat-card class="cardC">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="loginForm" *ngIf="!isLoading" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput name="email" type="email" formControlName="email" #email placeholder="E-Mail" required>
        <mat-error *ngIf="loginForm.hasError('email')">
          Please enter a valid email address!
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Email is required!
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input name="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" #pass
               placeholder="Password" required>
        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.hasError('required')">
          Password is required!
        </mat-error>
      </mat-form-field>

      <br>

      <mat-card-actions class="buttonSpace">
        <div fxFlex>
        </div>
        <button  mat-raised-button class="siCSS" routerLink="/login"type="submit">Login</button>
        <!-- <a mat-raised-button class="siCSS" routerLink="/login">Sign in</a> -->
      </mat-card-actions>

    </form>
  </mat-card>
</div>